*{
    margin: 0;
    padding: 0;
    font-family: sans-serif;
}

.nav{
   color: whitesmoke;
    display: flex;
    padding-top: 10px;
    padding-bottom: 10px;
    background-color: #222;
    position: fixed;
    width: 100%;
    z-index: 1;
}
.nav a{
    color: whitesmoke;
}

.nav li{
    padding: 5px;
}

.nav li:hover{
    background-color: #2089F3;
}


.data-list{

    margin-left: 40%;
}

.data-list li{
display: inline-block;
margin-left: 20px;
}

.fa-chevron-down{
      transform: rotate(0deg);
      transition: 300ms;
}
.wisata:hover .fa-chevron-down{
  transform: rotate(-90deg);
}


.logo{
    margin-left: 30px;
}

.list{
    display: none;
    background-color: #333;
    position: absolute;
    padding-top: 20px;
    padding-right: 20px;
    padding-bottom: 30px;
}

.list li{
    display: block;
    margin-bottom: 10px;
    color: whitesmoke;
}

.data-list a{
    text-decoration: none;
}

.wisata:hover .list{
display: block;

}



/* header=========================== */

.header{
    display: flex;
    margin-bottom: 40px;
}

.des-header{
   
    width: 45%;
    margin: auto;
}
.des-header h1{
font-weight: 800;
font-size: 6rem;
width: 50%;
color: #2089F3;
}

.gambar{
    width: 40%;
    height: 100vh;
}

.gambar img{
    width: 100%;
    height: 100%;
}


.sosmed{
   
    position: fixed;
    margin-top: 40vh;
    margin-left: 30px;
}
.sosmed li{
    list-style: none;
    margin-bottom: 20px;
}
.sosmed .fa-github:hover{
    color: #222;
}
.sosmed .fa-facebook:hover{
    color: #00ff;
}
.sosmed .fa-whatsapp:hover{
    color: green;
}

.sosmed .fa-brands{
    font-size: 30px;
    color: #2089F3;
}


/* container=============== */

.container{

width: 70%;
margin: auto;
}

/* content================ */

.content h2{
    color: #2089F3;
    margin-bottom: 10px;
}

.content p{
    color: #666;
    line-height: 25px;
    margin-bottom: 10px;
}

.content img{
    margin-bottom: 30px;
}


/* card tentang */
.card-kelompok{
  
    width: 150px;
    height: 200px;
    text-align: center;
    margin-bottom: 50px;
    margin-left: 20px;
}
.gambar-kel{
    width: 150px;
    height: 150px;
    margin: auto;
     margin-bottom: 10px;
}
.gambar-kel img{
    width: 100%;
    height: 100%;
    border-radius: 100%;
   
}

.card-kelompok h3{
    color: #2089F3;
    font-size: 20px;
}

.bg-card-kel{

    flex-wrap: wrap;
    display: flex;
    justify-content: center;
    margin-top: 50px;
    margin-bottom: 100px;
}

.informasi-list{
    margin-bottom: 20px;
}
.informasi-list h3,.informasi-list li{
    color: #333;
}
/*footer ==================*/

.bg-footer{

    height: 20vh;
    background-color: #222;
    text-align: center;
    color: whitesmoke;
    padding-top: 15vh;
}